@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
     font-family: 'Josefin Sans', sans-serif;
     box-sizing: border-box;
}


body {
     background: linear-gradient( hsl(0, 0%, 100%),  hsl(0, 100%, 98%));
}
.background-wallpaper img.img1 {
     display: none;
}

.logo {
     margin: 25px;
}

.background-wallpaper img.img2 {
     width: 100%;
}

.title {
     text-transform: uppercase;
     text-align: center;
     font-weight: 600;
     letter-spacing: 0.5em;
}

.title h1 span {
     color: hsl(0, 36%, 70%);
     font-weight: lighter;
}

p {
     text-align: center;
     color: hsl(0, 36%, 70%);
     margin: 10px;
     padding: 5px;
}

.email {
     text-align: center;
}

.email input {
     width: 70%;
     height: 2.5em;
     border-radius: 15px;
     border: 1px hsl(0, 36%, 70%) solid;
     padding: 15px;
     position: relative;
     background: hsl(0, 100%, 98%);

}

.email input::placeholder {
     color: hsl(0, 36%, 70%);
}

.email button {
     position: absolute;
     right: 60px;
     background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
     width: 4em;
     height: 2.5em;
     border: none;
     border-radius: 30px;
     box-shadow: 2px 5px 16px hsl(0, 36%, 70%);
     cursor: pointer;
}